web/WEB-INF/wsdl/localhost_8080/isdcm-soap/SearchVideoWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://services.soap.isdcm.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.soap.isdcm.com/">

<xs:element name="SearchByCreationDateRequest" type="tns:searchByCreationDateRequest"/>

<xs:element name="searchByAuthor" type="tns:searchByAuthor"/>

<xs:element name="searchByAuthorResponse" type="tns:searchByAuthorResponse"/>

<xs:element name="searchByCreationDate" type="tns:searchByCreationDate"/>

<xs:element name="searchByCreationDateResponse" type="tns:searchByCreationDateResponse"/>

<xs:element name="searchByTitle" type="tns:searchByTitle"/>

<xs:element name="searchByTitleResponse" type="tns:searchByTitleResponse"/>

<xs:element name="video" type="tns:videoDTO"/>

<xs:complexType name="searchByTitle">
<xs:sequence>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByTitleResponse">
<xs:sequence>
<xs:element name="return" type="tns:videoDTO" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="videoDTO">
<xs:sequence>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
<xs:element name="autor" type="xs:string" minOccurs="0"/>
<xs:element name="fechaCreacion" type="xs:string" minOccurs="0"/>
<xs:element name="duracion" type="xs:string" minOccurs="0"/>
<xs:element name="reproducciones" type="xs:int"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="formato" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByCreationDate">
<xs:sequence>
<xs:element name="searchByCreationDateRequest" type="tns:searchByCreationDateRequest" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByCreationDateRequest">
<xs:sequence>
<xs:element name="day" type="xs:int"/>
<xs:element name="month" type="xs:int"/>
<xs:element name="year" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByCreationDateResponse">
<xs:sequence>
<xs:element name="return" type="tns:videoDTO" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByAuthor">
<xs:sequence>
<xs:element name="author" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByAuthorResponse">
<xs:sequence>
<xs:element name="return" type="tns:videoDTO" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>